<%= link_to "登録画面へ", "/hosts/new" %>
<% @hosts.each do |host| %>
  <p>
    <%= host.id %>
    <%= host.first_name %>
    <%= host.last_name %>
    <%= host.email %>
    <%= host.image_url %>
    <%= host.password %>
    <%= link_to '削除', "/hosts/#{host.id}", method: :delete, data: {confirm: "削除しますか？"} %>
    <%= link_to '編集', "/hosts/#{host.id}/edit", method: :get %>
  </p>
<% end %>