<h1>予約中の体験</h1>

<% if @bookings.any? %>
    <div class="row">
    <% @bookings.each do |booking| %>
      <div class="card border-0 col-lx" style="width: 21rem; margin: 10px">
        <%= link_to(experience_path(booking.experience_id),{class: "card-link"}) do %>
            <%= image_tag booking.experience.image.url, size: '300x300',class:"card-img-top rounded" %>
            <div class="card-body">
              <% #星表示 %>
              <%= image_tag(asset_path('star-on.png')) %>
              <% #平均点 %>
              <%= booking.experience.reviews.average(:rating).to_f.round(2) %>
              <% #口コミ件数 %>
              (<%= booking.experience.reviews.count %>).
              <%= booking.experience.prefecture %><br>
              <h5 class="card-title"><%= booking.experience.title %></h5>
              １人当たり￥<%= booking.experience.fee %>から
            </div>
        <% end %>
      </div>
    <% end %>
    </div>
  <% else %>
    <p>お探しの体験はありませんでした</p> 
  <% end %>