<p>新規登録</p>
<%= form_with model: @user, url: "/users", method: :post,local: true do |f| %>
  <p>姓：<%= f.text_field :first_name %></p>
  <p>名：<%= f.text_field :last_name %></p>
  <p>Email：<%= f.text_field :email %></p>
  <p>画像：<%= f.text_field :image_url %></p>
  <p>パスワード：<%= f.text_field :password %></p>
  <%= f.submit "登録" %>
<% end %>