<p>更新</p>
<%= form_with model: @experience, url:"/experiences/#{@experience.id}", method: :patch, local: true do |f| %>
  <p>タイトル：<%= f.text_field :title %></p>
  <p>料金：<%= f.text_field :fee %></p>
  <p>都道府県：<%= f.text_field :prefecture %></p>
  <p>地方：<%= f.collection_select :region, Region.all, :name, :name, include_blank: "選択してください" %></p>
  <p>内容：<%= f.text_area :content %></p>
  <p>開始日時：<%= f.datetime_field :start_datetime %></p>
  <p>終了日時：<%= f.datetime_field :finish_datetime %></p>
  <p>対応言語：<%= f.text_field :language %></p>
  <%= f.submit "登録" %>
<% end %>