<h1>身近にある、特別な茶摘み体験</h1>
<p>茶摘みを体験してみませんか？</p>
<p>あなたにぴったりな茶摘みを近場で見つけましょう</p>

<%= search_form_for @q do |f| %>
  <%= f.label :prefecture_cont, "都道府県" %>
  <%= f.search_field :prefecture_eq %>
  <%= f.label :start_datetime_eq, "開催日" %>
  <%= f.search_field :start_datetime_eq %>
  <%= f.submit "探す"%>
<% end %>

<% @experiences.each do |experience|%>
  <% if @experiences.count == 0 %>
    <p>お探しの体験はありませんでした</p>
  <% else %>
    <p>
      <%= link_to experience.title,experience_path(experience) %>
      <%= image_tag experience.image.url %>
      <%= experience.fee %>円
      <%= experience.prefecture %>
      <%= experience.region %>
      <%= experience.start_datetime %>
    </p>
    <%= paginate @experiences %>
  <% end %>
<% end %>