<div class="main-container">
  <h1>身近にある、特別な手摘み体験。</h1>
</div>

<div class="container" style="margin: 22px">
  <h2>「茶摘みを体験しよう」</h2>
  <p>
    日本のお茶は、機械で摘むことがほとんどですが、なかには人の手で摘むお茶もあります。<br>
    ひとつひとつ芽を見ながら摘むので、とても時間がかかりますが、そのぶん丁寧で優しいお茶となります。<br>  
    Tearipは、手摘みをしてお茶を飲んでもらうという"旅"を通して、お茶好きになってほしいとの思いが込もった、茶摘み体験の予約サービスです。 
  </p>
</div>

  <% if @experiences.any? %>
      <div class="row">
        <% @experiences.each do |experience| %>
          <div class="card border-0 col-md-3" style="width: 18rem">
            <%= link_to(experience_path(experience),{class: "card-link"}) do %>
                <%= image_tag experience.image.url, size: '400x250',class:"card-img-top rounded" %>
                <div class="card-body">
                  <% #星表示 %>
                  <%= image_tag(asset_path('star-on.png')) %>
                  <% #平均点 %>
                  <%= experience.reviews.average(:rating).to_f.round(2) %>
                  <% #口コミ件数 %>
                  (<%= experience.reviews.count %>).
                  <%= experience.prefecture %><br>
                  <h5 class="card-title"><%= experience.title %></h5>
                  １人当たり￥<%= experience.fee %>から
                </div>
            <% end %>
          </div>
        <% end %>
      </div>
  <% else %>
    <p>お探しの体験はありませんでした</p> 
  <% end %>
  <%= paginate @experiences %>