<h1>身近にある、特別な茶摘み体験</h1>
<p>茶摘みを体験してみませんか？</p>
<p>あなたにぴったりな茶摘みを近場で見つけましょう</p>

<%= search_form_for @q do |f| %>
  <%= f.search_field :prefecture_cont, placeholder: "行き先はどちら" %>
  <%= f.date_field :start_after, placeholder: "日付を追加" %>
  <%= f.submit "探す"%>
<% end %>

<p><%= @experiences.total_count %>件の体験を表示しています</p>

  <% if @experiences.any? %>
    <div class="row">
    <% @experiences.each do |experience| %>
      <div class="col-md-4 border rounded ">
        <%= link_to(experience_path(experience)) do %>
          <p><%= image_tag experience.image.url, size: '300x300' %></p>
          <p>
            <%= experience.prefecture %>
            <%= experience.title %>
            <%= experience.fee %>円
            
            <% if @likes_experience_ids.include?(experience.id) %>
              <%= render "like", experience: experience %>
            <% else %>
              <%= render "dislike", experience: experience %>
            <% end %>
          </p>
        <% end %>
      </div>
    <% end %>
    </div>
  <% else %>
    <p>お探しの体験はありませんでした</p> 
  <% end %>
  <%= paginate @experiences %>