<div class="main-container">
  <h1>身近にある、特別な茶摘み体験。</h1>
  <dl class="searchbox">
    <%= search_form_for @q do |f| %>
    <dt><%= f.search_field :prefecture_cont, placeholder: "行き先はどちらですか？" %></dt>
    <dt><%= f.date_field :start_after, placeholder: "希望日を追加" %></dt>
    <dd><%= f.submit "探す"%>
  <% end %>
  </dl>
</div>

<h2>茶摘みを体験しよう</h2>
<p>現地の生産者が案内するユニークな体験。</p>
<p><%= @experiences.total_count %>件の体験を表示しています</p>

  <% if @experiences.any? %>
    <div class="row">
    <% @experiences.each do |experience| %>
      <div class="col-md-4 border rounded ">
        <%= link_to(experience_path(experience)) do %>
          <p><%= image_tag experience.image.url, size: '300x300' %></p>
            <%= experience.prefecture %>
            <%= experience.title %>
            <%= experience.fee %>円
            <% #星評価 %>
            <div id="star-rate-<%= experience.id %>"></div>
            <% #平均点 %>
            口コミ<%= experience.reviews.count %>件
            <script>
            $('#star-rate-<%= experience.id %>').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              readOnly: true,
              <% #平均点を算出し、round関数で切り上げ %>
              score: <%= experience.reviews.average(:rating).to_f.round(2) %>,
            });
            </script>

          </p>
        <% end %>
      </div>
    <% end %>
    </div>
  <% else %>
    <p>お探しの体験はありませんでした</p> 
  <% end %>
  <%= paginate @experiences %>