  <h1>体験</h1>

  <!-- ***** いいねの pタグ に id 属性を追加 ***** -->
<p id="experience-<%= @experience.id %>">
  <% if @experience.liked_by?(current_user) %>
    <%= render partial: "like", experience: @experience %>
  <% else %>
    <%= render partial: "dislike", experience: @experience %>
  <% end %>
</p>

  <p><%= image_tag @experience.image.url%></p>
  <h2><%= @experience.title %></h2>
    <table>
      <tr>
        <td><i class="fas fa-yen-sign fa-lg"></i></td>
        <td><%= @experience.fee %>円</td>
      </tr>
      <tr>
        <td><i class="fas fa-map-marker-alt fa-lg"></i></td>
        <td>
          <%= @experience.prefecture %>
          <%= @experience.region %>
          <%= @experience.address %>
        </td>
      </tr>
      <tr>
        <td><i class="fas fa-book fa-lg"></i></td>
        <td><%= @experience.content %></td>
      </tr>
      <tr>
        <td><i class="far fa-clock fa-lg"></i></td>
        <td>
          開始日時：<%= l @experience.start_datetime, format: :short %><br>
          終了日時：<%= l @experience.finish_datetime, format: :short %>
        </td>
      </tr>
      <tr>
        <td><i class="far fa-comment fa-lg"></i></td>
        <td><%= @experience.language %></td>
      </tr>
    </table>
    <% #地図の表示 %>
    <%= render partial: "map" %>
<div>
  <% if Booking.where(user_id: current_user.id, experience_id: params[:id]).any? %>
    <p>予約済<p>
    <p><%= link_to '予約をキャンセルする', experience_booking_path(@experience.id), method: :delete, data: {confirm: "予約をキャンセルしますか？"} %></>
  <% else %>
    <p><%= link_to '予約する', experience_bookings_path(@experience.id), method: :post %></p>
  <% end %>
</div>

<%= link_to "口コミする", new_experience_review_path(experience_id: params[:id]) %>

<span>口コミ<%= @experience.reviews.count %>件</span>

<% @reviews.each do |review| %>
  <p>ユーザーID：<%= review.user_id %></p>
  <p>コメント：<%= review.content %></p>
  <p>評価：<%= review.rating %>点</p>
  
  <!--星評価-->
  <div id="star-rate-<%= review.id %>"></div>
  <script>
  $('#star-rate-<%= review.id %>').raty({
    size: 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    readOnly: true,
    score: <%= review.rating %>,
  });
  </script>  
<% end %>