<div class="card border-0" style="width: 60%;">
  <% #お気に入り機能 %>
  <p id="experience-<%= @experience.id %>", class="text-right">
    <% if @experience.liked_by?(current_user) %>
      <%= render partial: "like", experience: @experience %>
    <% else %>
      <%= render partial: "dislike", experience: @experience %>
    <% end %>
  </p>

  <% #イメージ画像 %>
  <p><%= image_tag @experience.image.url, size: '800x500', class: "rounded" %></p>
  <h2 class="card-title">
    <%= @experience.title %>
  </h2>
  <div class="card-body">
    <div class="card-text">
    <% #星表示 %>
        <%= image_tag(asset_path('star-on.png')) %>
    <% #平均点 %>
    <%= @experience.reviews.average(:rating).to_f.round(2) %>
    <% #口コミ件数 %>
    (<%= @experience.reviews.count %>).
    <%= @experience.prefecture %>
    </div>
  </div>
</div>

<div class="border-top my-4 py-4">
  <h3><%= @experience.user.first_name %>&nbsp;<%= @experience.user.last_name %>さんがホストする体験</h3>
  <div class="card-group">
    <div class="card rounded  mx-2 py-3">
      <div class="box-part text-center"><i class="far fa-clock fa-3x" aria-hidden="true"></i></div>
      <div class="card-body text-center">
        <h5 class="card-title">時間</h5>
        <p class="card-text">１日</p>
      </div>
    </div>
    <div class="card rounded mx-2 py-3">
      <div class="box-part text-center"><i class="far fa-comment fa-3x"></i></div>
      <div class="card-body  text-center">
          <h5 class="card-title">ガイド言語</h5>
          <p class="card-text"><%= @experience.language %></p>
        </div>
      </div>
    <div class="card rounded mx-2 py-3">
      <div class="box-part text-center"><i class="fas fa-utensils fa-3x"></i></div>
      <div class="card-body text-center">
          <h5 class="card-title">食べ物</h5>
          <p class="card-text">お茶、おにぎり</p>
        </div>
      </div>
  </div>
</div>
  <% #体験できること %>
  <div class="border-top my-4 py-4">
    <h3>体験できること</h3>
    <p><%= @experience.content %><p>
  </div>

  <% #地図の表示 %>
  <div class="border-top my-4 py-4">  
      <h3>実施場所</h3>
      <%= render partial: "map", class: "rounded" %>
  </div>

<% #予約機能 %>
<div class="border-top my-4  py-4">
  <h3>予約可能な日付から選択する</h3>
  <div class="card rounded" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">
        <%= @experience.start_datetime.strftime('%-m月%-d日') %><br>
      </h5>
      <p class="card-text">
        <%= @experience.start_datetime.strftime('%H:%M') %>
        〜<%= @experience.finish_datetime.strftime('%H:%M') %>
      </p>
      <p><%= @experience.fee %>円/人</p>
      <% if Booking.where(user_id: current_user.id, experience_id: params[:id]).any? %>
        <button class="btn btn-primary">
          <%= link_to 'キャンセル', experience_booking_path(@experience.id), method: :delete, data: {confirm: "予約をキャンセルしますか？"} %>
        </button>
      <% else %>
        <button class="btn btn-primary">
          <%= link_to '予約', experience_bookings_path(@experience.id), method: :post %>
        </button>
      <% end %>
    </div>
  </div>
</div>

<% #口コミ機能 %>
<div class="border-top py-4">
  <h3>
    <% #星表示 %>
      <%= image_tag(asset_path('star-on.png')) %>
    <% #平均点 %>
    <%= @experience.reviews.average(:rating).to_f.round(2) %>
    <% #口コミ件数 %>
    (<%= @experience.reviews.count %>件のレビュー)
  </h3>

  <% @reviews.each do |review| %>
    <div class="card my-4 rounded">
      <div class="card-body"> 
        <p><%= review.user.first_name %>&nbsp;<%= review.user.last_name %></p>
        <p><%= review.content %></p>
      <!--星評価-->
      <div id="star-rate-<%= review.id %>"></div>
        <script>
        $('#star-rate-<%= review.id %>').raty({
          size: 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          readOnly: true,
          score: <%= review.rating %>,
        });
        </script> 
      </div>
    </div> 
  <% end %>

</div>