<%= form_for [@experience, @review] do |f| %>
  <div class="field">
  <div>
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>

  <div>
    <%= f.submit %>
  </div>

  <div class="form-group row" id="star">
    <%= f.label :rating,'評価', class:'col-md-3 col-form-label'%>
    <%= f.hidden_field :rating, id: :review_star %>
  <div>

   <!-- 評価javascript -->
  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    scoreName: 'review[rating]',
    half: false,
  });
  </script>  

<% end %>