<nav class="navbar navbar-expand-sm navbar-dark bg-success fixed-top ">
  <span class="navbar-brand">ちゃりっぷ</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expand="false" aria-label="Tpggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarAltMarkup">
    <% if user_signed_in? %>
        <%= link_to "一覧画面へ", experiences_path, class: "nav-item nav-link active" %>
        <%= link_to "アカウント編集", edit_user_registration_path, class: "nav-item nav-link active" %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"} , class: "nav-item nav-link active" %>
      <% else %>
        <%= link_to "一覧画面へ", experiences_path, class: "nav-item  nav-link active" %>
        <%= link_to "ログイン", new_user_session_path, class: "nav-item nav-link active" %>
        <%= link_to "アカウント登録", new_user_registration_path, class: "nav-item nav-link active" %>
      <% end %>
  </div>
</nav>