<!DOCTYPE html>
<html>
  <head>
    <title>Teaparty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=devise-width, initial-scale=1, shrink-to-fit=no">
    <%# <%= stylesheet_link_tag 'application', media: 'all' %> %>
    <%= javascript_pack_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <%= favicon_link_tag('favicon.jpg') %>
  </head>

  <body>
    <header>
      <%= render "layouts/header" %>
    </header>
    <main>
      <div class="base-container">
         <%= yield %>
      </div>
    </main>
    <footer>
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
